{% extends "myprofile/base.html" %}
{% load static %}
{% block content %}
<section>
  <h2>Note to Reader</h2>
  <p>One of my requirements for CMSC 207 is to make a website. As I am a data analyst by profession, it is expected that
    this website still has a long way to go before it can be at par with those in production. I acknowledge that there
    is room for improvement in this website which I am bound to work on as we progress in the semester.</p>
  <p>This utilizes Django as a framework. Hence, html files, scripts, and url links were written in a way that makes it
    dynamic. The JavaScript and CSS code could be seen in the main.css and main.js files in the repo.</p>
</section>
{% endblock %}